*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  height:100vh;
  overflow: hidden;
}

.top_nav_bar{
  width:100%;
  padding-top:15px;
  padding-left:15px;
  background-color:#3d3d3d;
  height:60px;
}
.nav_span{
  background-color: #5e5e5e;
  padding: 5px 9px;
  border-radius: 6px;
  font: bold 24px Verdana;
  color:#f1f1f1;
}

#span_money{
  display:inline;
}

#nav_span2_id{
  margin-left: 75px;
}

#span_mps{
  display: inline;
}

.wrapper{
  height:100%;
  background-color: #224E91;
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  /*grid-gap: 15px;*/
  grid-template-areas: "firm_wrapper hire_wrapper"
  "upgrade_wrapper stats_wrapper";
}

.firm_wrapper{
  border: 1px solid black;
}

.firm_wrapper ul{
  float:right;
  margin-top:35px;
  margin-right: 25px;
  list-style: none;
  display: block;
}

.firm_toggle{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color:#f1f1f1;
  background: #224E91;
  border: 2px solid #f1f1f1;
  width: 175px;
  height: 45px;
  padding: 4px 10px;
  margin: 5px;
  border-radius: 1px;
}

.firm1_tt{
  width:200px;
  top:50%;
  right:100%;
  transform:translate(0, -50%);
  padding:20px;
  margin-right:2px;
  color:#f1f1f1;
  background-color:#3d3d3d;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border: 2px solid #8A8A8A;
  border-radius:1px;
  position:absolute;
}

#firm2{
display: none;
}

.firm2_tt{
  width:200px;
  top:50%;
  right:100%;
  transform:translate(0, -50%);
  padding:20px;
  margin-right:2px;
  color:#f1f1f1;
  background-color:#3d3d3d;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border: 2px solid #8A8A8A;
  border-radius:1px;
  position:absolute;
}

#firm3{
  display:none;
}

.firm3_tt{
  width:200px;
  top:50%;
  right:100%;
  transform:translate(0, -50%);
  padding:20px;
  margin-right:2px;
  color:#f1f1f1;
  background-color:#3d3d3d;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border: 2px solid #8A8A8A;
  border-radius:1px;
  position:absolute;
}

.firm_toggle:hover{
  background: #1B3F75;
  transform:scale(1.015);
}

.firm_toggle:active{
  transform:translateY(2px);
}

.firm_toggle:focus{
  background-color: #1B3F75
}

.hire_wrapper{
}

.shed{
  height:100%;
  color:#f1f1f1;
  background-color: #4d2800;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
}

.leftshed ul{
  list-style: none;
  display: block;
}

.shedbtns{
  width:100px;
  height:40px;
}

.rightshed{
  float:right;
}

.upgrade_wrapper{
}
.stats_wrapper{
}
